.filtro-container-categoria{
    margin-top: 25px;       
}
.barra-categoria-single{
       margin-top: 7.5rem;
}
.text-filtro-title{
    margin-top: 20px;
    margin-left: 60px;
}
@media only screen and (max-width: 480px) {
    .text-filtro-title{
      margin-left: 20px;
    }
}