.div{
  width: 10vh;
}

.categorias-container {    
    display: flex;       
    justify-content: center;
    gap: 2rem;    
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
  h2 {
    margin-left: 4rem;
    margin-bottom: 2rem;
    margin-top: 3rem; /* Espaciado entre el h2 y las categorías */
  }
  
  .categoria-button {    
    width: 100%;
    height: 10vh;
    background-color: #EFF0F2;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  @media only screen and (max-width: 480px) {
    .div{
      width: 10vh;
    }
      
    h2 {
      font-size: 1rem;
      margin-left: 2rem;
      margin-bottom: 1rem;
      margin-top: 1rem; /* Espaciado entre el h2 y las categorías */
    }
      
    .categoria-button {        
      width: 100%;
      height: auto;
    }    
  }