/* Footer.css hola esta es u*/
.container {  
  position: fixed;
  bottom: 0rem; /* Alinea el footer en la parte inferior de la ventana del navegador */
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
  width: 100%;
  height: auto;  
  font-family: "Monserrat";   
  padding: 1rem 4rem;  
}

.Copy {
  color: #666666;
  
  font-size: 1rem;
  text-align: left;
  
}

/*@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    height: auto; /* Ajusta la altura según tus necesidades */
    /*margin-bottom: 0; /* Elimina cualquier espacio debajo del contenedor */
 /* }*/
/*}*/



