.div{
  width: 10vh;
}

.productos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 3rem; /* Espacio entre las tarjetas */
  background-color: white;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 4rem;  
}

.producto-card {    
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.imagen-container {
  position: relative; 
  height: 30vh;   
}

.imagen-wrapper {
  width: 100%;
  height: 100%; /* Ajusta la altura según tus necesidades */  
  display: flex;
  align-items: center;
  justify-content: center;  
}

.imagen-wrapper img {  
  height: 100%; /* Altura máxima del 100% del contenedor */
  margin-top: 2.5rem;   
}

.producto {
  margin-top: 2.5rem;  
  text-align: left;
  margin-left: 3rem;
  font-size: 1.5rem;  
  font-weight: normal;
}

.por_dia {
  font-weight: normal;
  float: right;
  margin-right: 4rem;
  margin-bottom: 2rem; 
  font-size: 1rem;  
}

.precio-rojo {
  font-weight: normal;
  color: red;
  text-align: left;
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

h3{  
  margin-right: 4rem;
  text-align: right;  
}

.mirar-todos{
  margin-left: 4rem;
  cursor: pointer;
  opacity: 0.50;
}

@media only screen and (max-width: 480px) {
  .div{
    width: 10vh;
  }
  
  .productos-container {    
    gap: 1rem; /* Espacio entre las tarjetas */    
    margin-left: 1rem;
    margin-right: 1rem;    
  }
  
  .imagen-container {
    position: relative; 
    height: 10vh;     
  }
  
  .imagen-wrapper img {      
    margin-top: 1rem;     
  }

  .producto {
    margin-top: 2rem;  
    text-align: left;
    margin-left: 1rem;
    font-size: 0.9rem;      
  }
  
  .por_dia {
    font-weight: normal;
    float: right;
    margin-right: 1rem;
    margin-bottom: 1rem; 
    font-size: 0.8rem;  
  }
  
  .precio-rojo {   
    margin-left: 1rem;
    margin-bottom: 1rem;  
    font-size: 1rem;
  }
      
  .mirar-todos{
    margin-right: 1rem;
    text-align: right; 
    font-size: 1rem;    
  }  
}
