
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 1%;
  margin: 2rem;
}

.title-instrumentos {
  margin-left: 45px;
  margin-top: 10px;
}
