*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.gallery-content{
    width:100%;
    height: 100%;
    text-align: right;

}

#gallery-section {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en dispositivos más pequeños */
}


.first-images-container,
.other-images-container {
    width: 50%;
    height: auto; /* Cambiado a auto para permitir que la altura se ajuste según el contenido */
    display: flex;
  /* Permitir que los elementos se envuelvan en dispositivos más pequeños */
}
.other-images-container .side-images {
    padding: 1%;
}

.first-images-container img{

    width: 100%;
    height: auto; /* Cambiado a auto para permitir que la altura se ajuste según el contenido */
    max-width: 100%; /* Asegurar que las imágenes no se desborden de sus contenedores */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.other-images-container img {
    width: 100%;
    height: auto; /* Cambiado a auto para permitir que la altura se ajuste según el contenido */
    max-width: 100%; /* Asegurar que las imágenes no se desborden de sus contenedores */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.see-more-images{
    text-align: left;
    color: #666666;
    text-align: right !important;
}
#images a{
    color: #666666;
    text-decoration: none;
    font-family: "poppins";
;

}
