*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.gallery-content{
    width:100%;
    height: 100%;

}

.first-images-container {
    width: 40%;
    height: inherit;

}
.other-images-container{
    width: 60%;
    height: 25%;

}
.first-images-container img{
    width: 100%;
   height: 100%;
    padding: 10%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.other-images-container img{
    width: 50%;
    height: 25%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#gallery-section{
    display: flex;

}