/* body.css */
.div{
  width: 10vh;
}

.body-container {
    
    width: 100%;
    
    background-image: url(../../../../../imagen/BarraBusquedaHome/fondo_home.svg);
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .h2-styles {
    color: #000000; /* Color negro */
    margin-left: 4rem;
    font-size: 1,5rem;;
  }
  
  .search-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 4rem;  
  }
  
  .search-input-styles {
    width: 100%; /* Ancho de la barra de búsqueda */
    margin-right: 0.8rem;
    padding: 0.7rem;
    border-radius: 50px;
    border: none;
  }

  .search-button-styles {
    background-color: #000000; /* Color negro */
    color: #ffffff; /* Texto blanco */
    padding: 0.7rem 1.5rem ;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .image-styles {
    width: 100%;
    bottom: 0;    
    
  }


  