* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif; /* Fuente Montserrat */
  background-color: #ffffff; /* Color de fondo blanco */
  color: #202020; /* Color de texto negro */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  
}

p, span, div {
  font-family: 'Montserrat', sans-serif;
  
}

:root {
  --naranja: rgb(229, 79, 19); /* Naranja en RGB */
  --negro: #000000; /* Negro */
  --amarillo: rgb(253, 163, 16); /* Amarillo en RGB */
}

/* Estilos de Calendario  */
.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar los elementos horizontalmente */
  justify-content: space-around; /* Distribuir espacio alrededor de los elementos */
  gap: 20px; /* Espacio entre los elementos */
}


