/* header.css */

.div{
  width: 10vh;
}

.pagina_principal-header {
  background-color: #ffffff; /* Fondo blanco */
  height: 100px; /* Altura 100px */
  display: flex;
  align-items: center;
  justify-content: space-between;  
  padding: 0 rem; /* Añadido un padding de 20px a cada lado para separar los elementos del borde */
}

.pagina_principal-header img {
  max-width: auto;
  height: auto;
  margin-left: 4rem;  
}

.lema {
  position: absolute;    
  font-family: Arial, sans-serif; /* Tipo de letra */
  font-weight: normal; /* No en negrilla */
  margin-left: 4rem;
}

.pagina_principal-header div {
  display: flex;
  gap: 2rem; /* Espaciado de 40px entre los botones */
  margin-right: 4rem; /* Margen derecho de 40px para los botones */
}

.crear-cuenta-button {
  width: 10rem; /* Ancho 100px */
  height: 49px; /* Altura 49px */
  cursor: pointer;
  font-size: 1vw;
  border-radius: 25px; /* Radio 25px para hacer los botones redondeados */
}

.login-button {
  display: flex;
  align-items: center;
  background-color: #fda310; /* Color del botón de iniciar sesión */
  color: #ffffff; /* Texto blanco */
  border: none;
  width: 10rem; /* Ancho 100px */
  height: 4rem; /* Altura 49px */
  cursor: pointer;
  font-size: 1vw;
  border-radius: 25px; /* Radio 25px para hacer los botones redondeados */
}

.login-button img {
  align-content: center;  
  
}

.identificacion {  
  align-items: column;  
}

.identificacion .logo{
  margin-bottom: 2rem;
}

.identificacion h2 {
  position: absolute;
  font-size: 1rem;
  margin-top: 4rem;
  margin-left: 4rem;  
}

.crear-cuenta-button {
  background-color: #000000; /* Color del botón de crear cuenta */
  color: #ffffff; /* Texto blanco */
  border: none;
}
