.div{
  width: 10vh;
}

.pagina_principal-header {
  background-color: #ffffff; /* Fondo blanco */
  height: 10vh; /* Altura 100px */
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  margin-left: 4rem;   
}

.pagina_principal-header img {
  max-width: 100%;
  height: auto;   
  margin-left: 4rem;
}

.lema {
  position: absolute;    
  font-family: Arial, sans-serif; /* Tipo de letra */
  font-weight: normal; /* No en negrilla */
}

.pagina_principal-header div {
  display: flex;
  gap: 2rem; /* Espaciado de 40px entre los botones */
  margin-right: 4vh; /* Margen derecho de 40px para los botones */
}

.crear-cuenta-button {
  background-color: #000000; /* Color del botón de crear cuenta */
  color: #ffffff; /* Texto blanco */
  border: none;
  width: 10rem; /* Ancho 100px */
  height: 3.5rem; /* Altura 49px */
  cursor: pointer;
  font-size: 1rem;
  border-radius: 25px; /* Radio 25px para hacer los botones redondeados */
}

.login-button {
  display: flex;
  align-items: center;
  background-color: #fda310; /* Color del botón de iniciar sesión */
  color: #ffffff; /* Texto blanco */
  border: none;
  width: 14rem; /* Ancho 100px */
  height: 3.5rem; /* Altura 49px */
  cursor: pointer;
  font-size: 1rem;
  border-radius: 25px; /* Radio 25px para hacer los botones redondeados */
}

.identificacion {  
  align-items: column;  
}

.identificacion .logo{
  margin-bottom: 2rem;
}

.identificacion h2 {
  position: absolute;
  font-size: 1rem;
  margin-top: 4rem;
  margin-left: 4rem;  
}

@media only screen and (max-width: 480px) {
  .div{
    width: 10;
  }
  .pagina_principal-header {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;      
  }
  
  .lema{
    margin-left: 0;
    position: absolute;    
  }

  .identificacion h2 {
    position: absolute;
    font-size: 0.5rem;
    margin-top: 2.5rem;
    margin-left: 0;  
  }
  
  .pagina_principal-header img {
    margin-left: 0; /* Eliminar el margen izquierdo */    
    width: 20vh;
  }
  
  .login-button{
    width: 6rem;
    height: 4vh;
    font-size: 0.5rem;
    text-align: center;
  }

  .login-button img{
    width: auto;
    height: 2vh;
    text-align: center;
  }

  .crear-cuenta-button{
    width: 6rem;
    height: 4vh;
    font-size: 0.5rem;
    text-align: center;  
    margin-right: -1rem;  
  }

  .pagina_principal-header div{
    gap: 0.5rem;
  }
}
  