.login-page-container{
    display: flex;
    height: 84vh;
    width: 100%;
    align-items: center;    
}
.login-page-container img{
    width: 100%;
    height: 100vh;
    max-height: 100vh; /* Limita la altura máxima a la altura de la pantalla */
}
.form_login{
    padding: 0rem 15rem ;
}
.h2_login{
    margin-top: 3rem;
    font-weight: bold;
    font-size: 3rem;
    color: rgb(253, 163, 16); /* Amarillo en RGB */    
}
.login_group{
    margin-left: 4.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
.login_group label{
    opacity: 70%;
    padding: 0.5rem 0rem;
}
.login_group input {
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 0.5rem;
    opacity: 70%;    
}
.inf_login{
    margin-left: 8rem;
    margin-top: 1rem;
    text-align: center;
    padding: 2rem;
    opacity: 40%;
    cursor: pointer;
    color: black;
}
.inf_login span {    
    font-weight: bold;
}
.error-message {
    text-align: left;
} 
