*{
  margin-left: 0;
}.modal-container {
  position: fixed;
  font-size: 1.5rem;
  margin-top: 2rem; 
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  backdrop-filter: blur(5px); /* Desenfoque del fondo */  
}
.politicas-header {
  margin: 8rem 10rem;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}
.politicas-header h2{
  padding: 2rem;  
  border-bottom: 1px solid rgb(213, 218, 229); /* Línea sólida de 1 píxel de grosor y color RGB */
  padding-bottom: 1.5rem; /* Espaciado opcional para separar la línea del texto */
  width: 100%;
}
.politica-content-1, .politica-content-2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem;
}
.politica-content-2 p span{
  font-weight: bold;
}
.politica-contenido {
  display: flex;  
  text-align: left;
}
.politica-content-1 p, 
.politica-content-2 p{
  text-align: left;
  margin-bottom: 1rem;
}
.politica-content-1 h2, 
.politica-content-2 h2{
  text-align: left;

}
.close-button-final{
  margin-left: 2rem;
  width: 93px;
  height: 38px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.262);
  font-size: 20px;
  cursor: pointer;
}
.close-button-final:hover {
  background-color: rgba(0, 0, 0, 0.353);
}
@media only screen and (max-width: 480px) {
  .div {
    width: 10vh;
  }
  .modal-container {
    margin-top: -17rem; /* Ajuste del margen superior */
    font-size: 1rem; /* Reducción del tamaño de fuente */
  }  
  
  .politicas-header {
    margin: 2rem; /* Reducción de márgenes para pantallas más pequeñas */
    padding: 1rem; /* Reducción del padding */
  }
  
  .politicas-header h2 {
    padding: 1rem; /* Reducción del padding */
    width: 90%;
  }
  
  .politica-content-1, .politica-content-2 {
    padding: 1rem; /* Reducción del padding */
  }
  
  .close-button-final {
    margin-left: 1rem; /* Ajuste del margen */
    width: 72px; /* Reducción del ancho */
    height: 30px; /* Reducción del alto */
    font-size: 16px; /* Reducción del tamaño de fuente */
  }
}





